# hapi/.env

# --- fhiretl CLI --- 
# Needed by the fhiretl ingest command
KF_DATASERVICE_DB_URL=postgresql://postgres:postgres@localhost:5433/dataservice
KF_API_DATASERVICE_URL=http://localhost:5000 
KF_API_FHIR_SERVICE_URL=http://localhost:8080/fhir
FHIR_USERNAME=admin
FHIR_PASSWORD=password
FHIR_COOKIE=

# --- Postgres super user --- 
# Needed in docker-compose file
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres

# --- Data Service --- 
# Needed in docker-compose file
FLASK_CONFIG=development
POSTGRES_DATASERVICE_HOST=dataservice-pg
POSTGRES_DATASERVICE_DB=dataservice

# --- Smile CDR FHIR DB --- 
# Needed in docker-compose file and fhir.yaml
POSTGRES_FHIR_HOST=fhir_postgres
POSTGRES_FHIR_PORT=5434
POSTGRES_FHIR_DB=hapi
