
# --- fhiretl CLI --- 
# Needed by the fhiretl ingest command
KF_DATASERVICE_DB_URL=postgresql://postgres:password@localhost:5433/dataservice
KF_API_DATASERVICE_URL=http://localhost:5000 
KF_API_FHIR_SERVICE_URL=http://localhost:8000
FHIR_USERNAME=admin
FHIR_PASSWORD=password

# --- Postgres super user --- 
# Needed in docker-compose file
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=password

# --- Data Service --- 
# Needed in docker-compose file
FLASK_CONFIG=development
POSTGRES_DATASERVICE_HOST=dataservice-pg
POSTGRES_DATASERVICE_PORT=5432
POSTGRES_DATASERVICE_DB=dataservice

# --- Smile CDR FHIR DB --- 
# Needed in docker-compose file, postgres/init_postgresdb.sh, and 
# settings/master.properties
FHIR_DB_NAME=cdr
FHIR_DB_USERNAME=admin
FHIR_DB_PASSWORD=password

# --- Smile CDR FHIR Server Configuration --- 
# Needed in settings/master.properties 
DB_CONN_URL=jdbc:postgresql://postgres_cdr:5432/cdr
DB_DRIVER=POSTGRES_9_4
JVM_MAX_HEAP_SIZE=-Xmx8g
FHIR_PRETTY_PRINT=true
PERSIST_TRANSACTION_BODIES=true
RESPECT_FWD_HEADERS=false
# This will load in all of the conformance resources (StructureDefinition, ValueSet, etc.)
# that will be needed if request validation is turned on
# Turning this on will make smilecdr setup take up to 10 minutes
SEED_CONF_RESOURCES=false
# Turn this on if you want requests to be validated against conformance resources
REQUEST_VALIDATION=false

# --- Docker Hub --- 
# Needed in bin/setup_smilecdr.sh 
# You must get these from the github repo admins: 
# natasha@d3b.center or meenchulkim@d3b.center
DOCKER_HUB_USERNAME=
DOCKER_HUB_PW=
